body{
    font-family: 'Courier New', Courier, monospace;
}
.container{
    background-color: azure;
    color: aliceblue;
    width: 700px;
    margin: auto;
    padding: 16px;
    text-align: center;
    border: blueviolet solid 10px;
    border-radius: 10px;
}
.redes-sociais h2{
    text-align: center;
    padding: 0;
}
.redes-sociais ul{
    text-align: center;
}
